body{
    background-image: url('bg8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 90px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 15px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    white-space: nowrap;
}


nav ul li a:hover{
    border-bottom: 3px solid #fff;
    background-color: rgba(255, 51, 153, 0.527);
}
.brand img{
    height: 95px;
    padding: 0 8px;
}

.r1 img{
    padding: 50px;
    margin-right: 200px;
}

.r2 img{
    padding: 50px;
    margin-right: 200px;
}

.r3 img{
    padding: 50px;
    margin-right: 200px;
}

.r3 p{
    margin-bottom: 20px;
}

.receipe ul li a{
    padding: 10px;
    list-style: none;
    text-decoration: none;
}

.content marquee{
    background-color: #fff;
}